<h1>Leaderboard</h1>
  <h1>Category: <%= @category.title %></h1>
  <div class="col-md-6 col-md-offset-3">
  <table class="table-striped center table-hover">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% email = OpenStruct.new  %>
    <% email.email = user[:email] %>
      <tr>
        <td><h1><%= gravatar_for(email, size: 40) %></td>
        <td><%= user[:name] %></td>
        <td><%= user[:username] %></td>
        <td><%= user[:score] %></td>
      </tr>
    <% end %>

  </tbody>      
  </table>
  </div>

  <%= link_to 'Back', categories_path %> <br/>